body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*=== Page header ===*/

.header-pages {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-log {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  padding-left: 16px;
  align-items: center;
  margin-right: 120px;
}

.menu-top-log {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.menu-info-link {
  font-style: normal;
}

.menu {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.stud-aft {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.stud-aft::after {
  content: '';
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #404bbf;
  bottom: -1px;
  margin-top: 20px;
}

.stud-aft:hover .stud-aft:focus {
  color: #404bbf;
}

.menu-link {
  display: block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-info-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
}

.menu-info-link:hover .menu-info-link:focus {
  color: #404bbf;
}

.menu-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin-right: 16px;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .menu-nav {
    display: none;
  }

  .close-icon-menu-btn {
    fill: #2e2f42;
  }

  .close-icn-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  /*=== Menu styles ===*/

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-left: 16px;

    z-index: 999999999;
    opacity: 0;
    visibility: hidden;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
  }

  .mobile-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;

    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mobile-close-btn {
    fill: #2e2f42;
  }

  .mobile-link-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .mobile-link-item-stud {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #404bbf;
  }

  .mobile-link-item:hover,
  .mobile-link-item:focus {
    color: #404bbf;
  }

  .mobile-info-list-item {
    padding-bottom: 24px;
  }

  .menu-info-link-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .menu-info-link-item-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #404bbf;
  }

  .menu-info-link-item:hover,
  .menu-info-link-item:focus {
    color: #4d5ae5;
  }

  .mobile-icons-list {
    display: flex;
    gap: 40px;
  }

  .mobile-icons-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
  }

  .mobile-menu-social-svg {
    fill: #f4f4fd;
  }

  .mobile-info-list {
    display: block;
    margin-top: auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu {
    display: none;
  }

  .close-icn-btn {
    display: none;
  }

  .menu-info {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1158px) {
  .menu-log {
    margin-right: 76px;
  }

  .menu-info {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .menu-info-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*=== Hero section ===*/

.hero {
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 70px 0;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.but-style {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  margin: 0 auto;
}

.but-style:hover,
.but-style:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mobile.jpg);
    max-width: 320px;
  }

  .main-title {
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  @media only screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-mobile2@x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet.jpg);
    max-width: 768px;
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 35px;
    max-width: 496px;
    margin: 0 auto;
  }

  .but-style {
    margin-top: 36px;
  }

  @media only screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1440px;
  }
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/of-hero.jpg.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media only screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/of-hero@2x.jpg);
    }
  }
}

/*=== Section Description ===*/

.description {
  padding-top: 96px;
  padding-bottom: 96px;
}

.description-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.description-list-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.desc-icon {
  display: none;
}

@media only screen and (max-width: 767px) {
  .description-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .description-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .description-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .description-list-text {
    font-weight: 400;
    color: #434455;
  }

  .description-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .description-list-item {
    width: calc((100% - 3 * 24px) / 4);
    width: 264px;
  }

  .desc-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }

  .desc-icon {
    fill: #2e2f42;
    display: flex;
  }
}

/*=== Team section ===*/

.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list-container {
  padding: 32px 0;
}

.team-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-list-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.icon-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-links-list {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-links-list:hover,
.icon-links-list:focus {
  background-color: #404bbf;
}

.icon-link {
  fill: #f4f4fd;
}

.team-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  height: 428px;
}

@media only screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .team-conteiner {
    width: 296px;
  }
}

@media only screen and (min-width: 768px) {
  .team {
    padding-top: 104px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/*=== Portfolio Section ===*/

.portfolio-list-img {
  max-width: 360px;
}

.portf-hero {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  padding: 40px 32px;
  top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfolio-list-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
  margin-left: 16px;
}

.portfolio-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767px) {
  .portfolio-list-img {
    max-width: 288px;
    height: 280px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .portfolio-title {
    padding-top: 96px;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-list-item {
    width: 356px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .portf-hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*=== Footer content ===*/

.page-footer {
  background: #2e2f42;
  padding: 96px 0;
}

.foot-log {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.foot-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.foot-txt {
  margin-bottom: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.foot-menu {
  display: flex;
  gap: 16px;
}

.foot-links-list {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50% 50%;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.foot-links-list:hover,
.foot-links-list:focus {
  background-color: #31d0aa;
}

.foot-inp-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.label-form-foot {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  flex-direction: column;
}

.form-foot-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  color: #fff;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.form-foot-input:focus {
  outline: none;
}

.form-foot-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.form-foot-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
}

.foot-icon-svg {
  fill: #fff;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 767px) {
  .foot-box {
    margin: 72px auto;
  }
  .adapt-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .page-footer {
    margin: 0 auto;
    width: 320px;
    height: 664px;
  }
  .foot-log {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-foot-btn {
    margin: 0 auto;
  }

  .foot-txt {
    text-align: center;
  }

  .foot-menu {
    justify-content: center;
    align-items: center;
  }

  .foot-inp-text {
    text-align: center;
  }

  .label-form-foot {
    margin-bottom: 16px;
    margin: 0 auto;
  }

  .form-foot {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .page-footer {
    min-width: 768px;
    display: block;
  }

  .adapt-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    width: 584px;
  }

  .form-foot {
    display: flex;
  }

  .footer-text {
    max-width: 264px;
  }

  .form-foot {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }
}

@media only screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .adapt-content {
    display: flex;
    gap: 0;
    align-items: baseline;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 15px;
  }

  .footer-logo-box {
    margin-right: 120px;
  }

  .foot-box {
    margin-right: 80px;
  }
}

/*=== backdrop ===*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.backdrop-icon-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.drp-txt {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-right: 24px;
  margin-bottom: 16px;
  width: 360px;
  height: 24px;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.rewiew-form-textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.rewiew-form-wrapper {
  margin-bottom: 8px;
}

.rewiew-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: 250ms linear;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-label {
  display: block;
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.rewiew-form-input-icns {
  position: relative;
}

.rewiew-form-icn-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.rewiew-form-input:focus + .rewiew-form-icn-svg {
  fill: #4d5ae5;
}

.rewiew-form-textarea {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms linear;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.privacy-police-link {
  color: #4d5ae5;
  text-decoration: underline;
  line-height: 1.33333;
  text-decoration-skip-ink: none;
}

.rewiew-form-checkbox {
  margin-bottom: 24px;
  width: 256px;
}

.rewiew-form-checkbox-spm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rewiew-form-privacy-checkbox-input:checked
  + .rewiew-form-checkbox-label
  .rewiew-form-checkbox-spm {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-police-txt {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.rewiew-form-checkbox-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.rewiew-form-checkbox-btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  margin-left: 96px;
  margin-right: 120px;
  margin-top: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-box {
  margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .model {
    width: 288px;
    min-height: 626px;
  }

  .drp-txt {
    max-width: 256px;
    height: 48px;
    margin-bottom: 16px;
    text-align: center;
  }

  .rewiew-form-checkbox-btn {
    margin-left: 60px;
    margin-right: 60px;
    margin: 0 auto;
  }
  .rewiew-form-checkbox-label {
    width: 256px;
  }
}
